#!/bin/bash

# Training
export TRAINER=tperelle
export USERS=( user1 user2 ) # exemple : USERS=( user1 user2 user3 )

# k8s environment
export NB_MASTER=1
export NB_NODE=2

# DigitalOcean
# ID of droplet image
# doctl compute image list --public
export DO_IMG_CENTOS="34487567" # CentOS 7.5 x64
export DO_REGION='fra1'
# URL for droplet size :
# https://developers.digitalocean.com/documentation/changelog/api-v2/new-size-slugs-for-droplet-plan-changes/
export DO_SIZE_MASTER='s-1vcpu-2gb'
export DO_SIZE_NODE='s-1vcpu-2gb'
export DO_SSH_KEY='fd:1c:ff:db:d5:80:ec:dd:56:ef:a5:7a:a4:92:81:8a' # id_rsa_formation_tp.pub
export LOCAL_SSH_PRIVATE_KEY="$(eval pwd)/playbooks/roles/master_prerequisites/file/id_rsa_formation_tp"
export DO_PREFIX="${TRAINER}-form-k8s"
export DO_TAG="${DO_PREFIX}"
export DO_VOL_SIZE="20Gi"

# Ansible
export DIR_PLAYBOOKS="$(eval pwd)/playbooks"
export DIR_KUBESPRAY_INVENTORIES="$DIR_PLAYBOOKS/roles/install_k8s/files"
export HOSTS_FILE="$DIR_PLAYBOOKS/hosts"
export ANSIBLE_CONFIG_FILE="$DIR_PLAYBOOKS/ansible.cfg"

# Else
export DIR_SCRIPTS="$(eval pwd)/scripts"
export DIR_PREREQUISITES="$(eval pwd)/prerequisites"
